# SET

16318
###### 1.mutable 
###### 2. insrtion order is not preserved
###### 3. duplicate are not allow
###### 4.Hetrogeneous are allowd
###### 5. Their no indexing and slicing

In [7]:
# hashbased (hashset in java)
s ={10,20,3,30,40,5}
#print(s[0:2]) # not allow
#print(s[0])  # not allow

In [9]:

s=set('sudarshan')
print(s)

s=set(range(1,6))
print(s)

{'n', 'r', 'd', 's', 'u', 'h', 'a'}
{1, 2, 3, 4, 5}

In [20]:
# converting list into set

l =[10,20,30,40,60]
s = set(l)
print(s)

{40, 10, 20, 60, 30}

In [18]:
# empty set object
s1={}   # it treated as dictionary
s =set() # it is empty set (compulsory we use set function )

type(s1)
type(s)

dict

In [22]:
# converting list into set 

l =[10,20,30,40,60,20,10,40] # duplicates in list
s = set(l)  # convert into set
print(s)    # duplicate are removed

{40, 10, 20, 60, 30}

In [24]:
string = 'aaaaaabbbbbcccccddddd'
s = set(string)
print(s)  # {'d', 'c', 'b', 'a'}

{'d', 'c', 'b', 'a'}

In [25]:
s= set()
s.add(10)
s.add(20)
s.add(30)
s.add(40)
print(s)

{40, 10, 20, 30}

In [38]:
s = {10,20,30,40}
l = [50,60,70]
s.update(l) # if we want to add group of element we use update method
print(s)        # update the list into set 


# any type 

#s.update(10)  # 'int' object is not iterable
s.update('shree')    #valid
s.update('ab'+'cd')  #valid
#s.update(10,20,30)  # not allowed

s.update({10,20,30}) # it is valid bcoz it iterable 

s.update(l,range(1,5),'shree',(10,20,30))  # any type 
print(s)

{70, 40, 10, 50, 20, 60, 30}
{'c', 70, 40, 10, 'r', 'e', 50, 'd', 20, 'b', 's', 60, 'h', 30, 'a'}

##### 3.copy()

In [40]:
s = {10,20,30}
s1 = s       # both references to same object
print(id(s)) # asum add 100
print(id(s1))# it also same add 100

77748864
77748864

In [41]:
s = {10,20,30}
s1 = s.copy()  # separate copy get created
print(id(s)) # assum 100
print(id(s1))# add is 104

77748744
77749704

##### 4.POP()
 * remove and retrun the element (it is unorder we can't predict which element is remove)
 * it remove random element(unorder)

In [15]:

s ={10,20,30,40}

#print(s.remove(130))   # if the element is not present then it will ganarate the error 
print(s.discard(140))  # if element is not present it will not give the error
print(s)

s.clear() 

s # s()

None
{40, 10, 20, 30}

set()

mathematical operation we are allow to call 

1. union()    #

In [36]:
s1 = {10,20,30,40,'shree',3.14}
s2 = {10,70,50,40,'rama',14.50}   #

In [40]:
# print(s1.union(s2))
# print(s1|s2)       # or symbol(|)

# print(s1.intersection(s2))
# print(s1&s2)         # and symbol(&)

# print(s1.difference(s2))   # the element present in s1 but not in s2 

# print(s1.symmetric_difference(s2))
# print(s1^s2)   #symantric diffrence (eihter present in s1 and s2 but not in both )(excluding commomn element)

Memebership opearator :

In [46]:
# s1= set('sudarshan')
# print(s1)
# print('h' in s1) 
# print('z' in s1)

# print('a' not in s1)
# print('z' not in s1)

{'a', 'r', 'u', 's', 'n', 'h', 'd'}
True
False
False
True

**List Comprehension**

**Set Comprehension**

In [48]:
# s ={ x+x  for x in range(0,11)}
# print(s)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**Write a progrom to eleminate duplicate present in the list**

In [ ]:
#1 way::::

# l = eval(input("enter list of values:"))
# s=set(l) # automatically duplicate will be removed
# print(s)

In [ ]:
# 2 way
# l = eval(input("enter list of values:"))
# l1=[]
# for x in l:
#     if x not in l1:
#         l1.append(x)
#     print(l1)

In [ ]:
l = eval(input("enter list of values:"))

s= set(l)
v = {'a','e','i','o','u'}
d = s.intersection(v)
print("diff vowel present in the given word:",d)
print("the number of diff vowel: ",len(d))